{
    "origins": [
            ],
    "log_file": "/opt/penen/log/penen.log",
    "log_stdout": true,
    "enable_debug": true,
    "tz": "Asia/Tokyo",
    "db_api_url": "http://pendb:8082",
    "mm_api_url": "http://penmm:8083",
    "public_fe_url": "https://__PUBLIB_FE_NAME__",
    "server_address": "",
    "server_port": 8442,
    "server_cert": "__STRONGLY_RECOMMEND_TO_SET_YOUR_CERT__",
    "status_report_interval": 600,
    "ui_step1_path": "/opt/penen/ui"
}
